/* JobSearch.css */

.job-search-container {
    background-color: #efe2f8b0; /* Light purple background */
    padding: 1rem; /* Increased padding for better spacing */
    margin: 1rem; /* Margin around the container */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically */
    text-align: center;
  }
  
  .job-search-title {
    font-size: 2rem;
    font-weight: 700;
    color: #1a202c;
    margin-bottom: 1rem;
    text-align: center;
  }

  .job-search-subtitle {
    text-align: center; /* Center the subtitle text */
    margin-bottom: 1rem;
  }
  
  .job-search-form {
    display: flex;
    gap: 0.5rem;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .job-search-input {
    flex: 1;
    padding: 1rem;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.2s ease-in-out;
  }
  
  .job-search-input:focus {
    border-color: #6300B3;
    outline: none;
  }
  
  .job-search-button {
    background-color: #6300B3;
    color: white;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .job-search-button:hover {
    background-color: #553c9a;
  }
  
  .herobox {
    width: 100%;
    display: flex;
    justify-content: center; /* Center the image horizontally */
    margin-top: 1rem;
  }
  
  .herobox img {
    max-width: 100%; /* Ensure image fits inside the container */
    height: auto; /* Maintain aspect ratio */
    max-height: 250px; /* Limit the maximum height of the image */
  }
  
  @media (max-width: 1024px) {
    .job-search-container{
        margin: 0;
    }
    .job-search-form {
        flex-direction: column;
      }
  }
  
  @media (max-width: 767px) {
    .job-search-form {
      flex-direction: column;
      gap: 0.5rem;
    }
  
    .job-search-input,
    .job-search-button {
      width: 100%;
    }
  }
  @media (max-width: 480px) {
    .job-search-title {
      font-size: 1.5rem; /* Reduce font size on smaller screens */
    }
    .herobox img {
        max-height: 150px; /* Further reduce max height on very small screens */
      }
  }
  