/* Navbar.css */

.navbar-container {
    background-color: #ffffff;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    padding: 1rem 0;
  }
  
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
  }
  
  .navbar-logo {
    font-size: 2rem;
    font-weight: bold;
    color: #6b46c1;
    text-decoration: none;
    transition: color 0.2s ease;
    display: flex;
  }

  .navbar-logo img {
    height: 40px;
  }
  
  .navbar-links {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  
  .navbar-link {
    font-size: 1.1rem;
    color: #333;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  .navbar-link:hover {
    color: #6300B3;
  }
  
  .navbar-button {
    /* background-color: #6300B3; */
    color: #6300B3;
    padding: 0.75rem 2rem;
    font-size: 1.1rem;
    font-weight: 600;
    border: 1px solid #6300B3;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.2s ease;
    
  }
  
  .navbar-button:hover {
    background-color: #6300B3;
    color: white;
  }
  
  @media (max-width: 768px) {
    .navbar-content {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-links {
      flex-direction: column;
      gap: 1.5rem;
      margin-top: 1rem;
    }
  }
  